DB_URL=jdbc:mysql://127.0.0.1:3306/tulipmetric
DB_USERNAME=user
DB_PASSWORD=your-db-password

DATA_GO_KR_SERVICE_KEY=9k9a3/dWfMNnVqG9mRPMQQ28gKPieL/zP8QrxRrOr6gP71ukyqvL7voKvS6fYOooEJiA1/UjQ/SS0sg49nZEUA==
KOSIS_API_KEY=ZmVmMjhjMjMwYTBlZjcxODdlMWE4NGM0YjA5NjgxMWU=

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

OAUTH_NAVER_CLIENT_ID=
OAUTH_NAVER_CLIENT_SECRET=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

JWT_SECRET=
